.social-list-primary__icon-vk {
  width: 63px;
  height: 63px;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(245, 0, 73);
  position: relative;
}

.social-list-primary__icon-vk::before {
  font-size: 48px;
  position: absolute;
  top: 9px;
  left: 6px;
}

.social-list-primary__icon-vk:hover {
  box-shadow: 0px 2px 6px 4px rgba(245, 0, 73, 15%);
}