.social-list-primary__icon-vk {
  text-decoration: none;
}

.social-list-primary__icon-vk::before {
  font-size: 48px;
  background-color: rgb(255, 255, 255);
  color: rgb(245, 0, 73);
  border-radius: 50%;
  padding: 7px;
}