.contact-us__inner-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .contact-us__inner-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 87.6%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}