.footer__copyright {
  font-family: 'Roboto', sans-serif;
  padding: 8px 0 8px 0;
  font-size: 12px;
  border-top: 1px solid rgb(149, 149, 149);
  color: rgb(184, 184, 184);
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer__copyright {
    text-align: center;
    border-top: none;
    margin-right: 30px;
  }
}