.logo {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-decoration: none;
  letter-spacing: 1px;
}

@media (min-width: 768px) and (max-width: 950px) {
  .logo {
    font-size: 18px;
  }
}

@media (min-width: 950px) and (max-width: 1200px) {
  .secondary-navigation .secondary-navigation__link {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .logo {
    color: rgb(45, 40, 41);
    font-size: 28px;
    margin: 0 0 8px 4px;
  }
}
