.logo {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .logo {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .logo {
    color: rgb(45, 40, 41);
    font-size: 28px;
  }
}
