.contact-form__textarea {
  width: 100%;
  max-height: 116px;
  margin-bottom: 17px;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  border: none;
  outline: none;
  resize: none;
}

.contact-form__textarea::placeholder {
  color: rgb(204, 204, 204);
  font-family: 'Circe', sans-serif;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .contact-form__textarea {
    max-height: 38px;
    background: transparent;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 15px 0 0 3px;
  }
}