.footer {
  min-width: 100%;
  padding: 45px 0 0 0;
  background-color: rgb(137, 137, 137);
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer {
    padding: 0;
  }
}

@media (min-width: 769px) {
  .footer {
    background-color: rgb(232, 232, 232);
    padding: 0;
  }
}