.footer__container {
  position: relative;
}

.footer__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 28px;
  background-color: rgb(149, 149, 149);
}

@media (min-width: 320px) and (max-width: 768px){
  .footer__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .footer__container::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 1px;
    bottom: 50px;
    background-color: rgb(149, 149, 149);
  }
}

@media (min-width: 769px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .footer__container::after {
    bottom: 50px;
    background-color: rgb(208, 208, 208);
  }
}