.add-image-form {
  margin: 30px 0 0 0;
}

.add-image-form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  outline: rgb(65, 65, 65) solid 1px;
  background-color: rgb(204, 204, 204);
}

.add-image-form__button {
  margin: 0 auto;
  padding: 8px 12px;
  text-transform: uppercase;
  display: block;
  border: none;
  color: rgb(254, 254, 254);
  background-color: rgb(99, 99, 99);
  cursor: pointer;
}