.how-to-order__step-description {
  font-family: "Circe", sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .how-to-order__step-description {
    font-size: 20px;
  }
}