.footer__top {
  position: relative;
}

@media (min-width: 768px) and (max-width: 1200px){
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 13px;
  }
}

/* @media (min-width: 950px) and (max-width: 1200px){
  .footer__top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
} */

@media (min-width: 1200px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}