.contact-us {
  padding: 42px 0 50px 0;
  background: url("./../../assets/contact-us-background-img.png") no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .contact-us {
    padding: 42px 0 85px 0;
    background: url("./../../assets/contact-us-background-img.png") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
  .contact-us {
    background: url("./../../assets/contact-us-background-desktop-img.png") no-repeat;
    background-size: cover;
    padding: 74px 0 273px 0;
  }
}