.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 40px;
  }
}