.social-list-secondary {
  display: flex;
  align-items: center;
  margin-bottom: 31px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .social-list-secondary {
    margin-bottom: 0;
    order: 1;
    padding: 14px 0;
  }
}

@media (min-width: 769px) {
  .social-list-secondary {
    margin-bottom: 0;
  }
}