.social-list-primary__icon-instagram {
  text-decoration: none;
}

.social-list-primary__icon-instagram::before {
  font-size: 32px;
  background-color: rgb(255, 255, 255);
  color: rgb(245, 0, 73);
  border-radius: 50%;
  padding: 15px;
}