@font-face {
  font-family: 'Architects Daughter';
  src: url('./fonts/ArchitectsDaughter-Regular.woff2') format('woff2'),
      url('./fonts/ArchitectsDaughter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
