.contact-form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 18px 10px;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  border: none;
  outline: none;
}

.contact-form__input::placeholder {
  color: rgb(204, 204, 204);
  font-family: 'Circe', sans-serif;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .contact-form__input {
    background: transparent;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin-bottom: 23px;
    padding: 19px 10px 1px 4px;
  }
}