.contact-form__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 18px 10px;
  border-radius: 3px;
  box-sizing: border-box;
  color: rgb(204, 204, 204);
  border: none;
  outline: none;
}

.contact-form__input::placeholder {
  color: rgb(204, 204, 204);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}